<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
android:versionCode="3.5"
	android:versionName="3.5"
    package="in.ds.maaad.group" >

    <uses-permission android:name="android.permission.INTERNET" />
<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
	
    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
		android:theme="@style/AppTheme"

        >
        <activity
            android:name="in.ds.maaad.group.MaaadActivity"
            android:label="@string/app_name"
			android:theme="@style/Theme"
>
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
<activity
            android:name=".SplashActivity"
            android:label="@string/maaad_web_name"
android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
		<activity
            android:name=".MaaadWebActivity"
            android:label="@string/maaad_web_name"
			android:theme="@style/Theme"
			android:configChanges="keyboard|keyboardHidden|screenSize|orientation"
            android:launchMode="singleTask">
			<meta-data
            android:name="android.support.PARENT_ACTIVITY"
            android:value="in.ds.maaad.group.MaaadActivity" />
        </activity>
<activity
            android:name="in.ds.maaad.group.preference.SettingsActivity"
            android:label="@string/title_activity_settings"
			android:theme="@style/Theme.AppCompat.Preferences"
>
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
    </application>
</manifest>